body {
    
    background-image: linear-gradient(white, #073a69);
  }
  .navbar-brand{
    font-family: Impact, Charcoal, sans-serif;
    font-style: italic;
    font-size: 25px;
    color: #073a69;
  }
  .navbar{
    background-color: white;
  }
  .sidenav {
    height: 100%;
    width: 300px;
    position: fixed;
    z-index: 1;
    top: 50px;
    left: 0;
    background-color: #073a69;
    overflow-x: hidden;
    padding-top: 20px;
    text-align: center;
    color: #f1f1f1;
  }
  footer {
    text-align: center;
    padding: 3px;
    background-color:snow;
    color: black;
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .main {
    margin-left: 160px; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
  }
  
  @media screen and (max-width: 450px) {
    .sidenav {padding-top: 15px;width: 100px;}
    .sidenav a {font-size: 18px;}
    .navbar{width: 900px;}
    .container{width: 250px;margin-left: 100px;}
  }
  @media screen and (max-width: 800px) {
    .sidenav {padding-top: 15px;width: 150px;}
    .sidenav a {font-size: 18px;}
    .container{width: 500px;margin-left: 150px;}
  }
  @media screen and (max-width: 1024px) {
    .sidenav {padding-top: 15px;width: 250px;}
    .sidenav a {font-size: 18px;}
    .container{width: 600px;margin-left: 250px;}
  }